
img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
.header a {
    text-decoration: none !important;
}
.header a:hover { 
 color: #3bccfc;
}
a:hover,a:hover p{ 
  text-decoration: none !important;
  color: #3bccfc !important;
 }
body{
  padding-top:0px !important;
}


#node-plans h2 {
    font-size: 42px;
    margin-bottom: .5rem;
}


#node-plans .section__head {
    margin-bottom: 50px;
}

#node-promo .node-cta-container {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    height: 450px;
}

#node-promo .node-cta-left {
    height: 250px;
    width: 250px;
}

#node-promo .node-cta-left img {
    margin-top: 1em;
    margin-left: 3rem;
}

#node-promo .node-cta-right {
    width: 70px;
    height: 70px;
}

#node-promo .member-features {
    width: 50%;
}

#node-promo .node-image-items {
    width: 50%;
}

#node-promo .member-features div {
    height: 400px;
}

#node-promo .member-features li {
    list-style: none;
    margin: 10px 2px;
    max-height: 100px;
}

#node-promo .member-features li img {
    max-height: 100px;
}

.section-base .section__head .node-cta {
    width: 420px;
    margin: 0 auto;
}

.section-base .section__head .node-cta h3 {
    font-size: 36px;
    margin-bottom: .5em;
}

.section-base .section__head .node-cta .cta-subheading,
.cta-subheading {
    font-size: 26px;
    line-height: 1.5;
    text-align: center;
    color: #8d8e8e;
    margin-bottom: .5em;
}

.section-base .section__head .node-cta .cta-price {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: #0a0525;
    margin-bottom: 0;
}

.section-base .section__head .node-cta .cta-term {
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 0.5px;
    text-align: center;
    color: #3e3b53;
    margin-bottom: 1em;
}

.section-base .section__head .node-cta-btn {
    margin: 0 auto 1rem;
    padding: 8px 20px;
    display: block;
    max-width: 400px;
}

.node-features-mobile {
    display: none;
}

body.page-template-service .header .shell:before {
    display: none;
}

@media only screen and (max-width: 1000px) {
    #node-promo .node-cta-left img {
        margin-top: -1rem;
        margin-left: 0;
    }

    #node-promo .node-cta-right img {
        margin-top: -4rem;
    }
}

@media only screen and (max-width: 782px) {
    .header {
        display: none !important;
    }

    .section-banner .nav__dd {
        margin-top: -57px;
        margin-bottom: -17px;
    }

    .section-base .section__head .node-cta {
        width: 100%;
    }

    .cta-subheading {
        margin-top: 2rem;
    }

    .node-features-mobile {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100% !important;
        margin-top: 1rem !important;
    }

    .node-features-mobile div {
        display: block;
        margin: 1rem auto;
    }

    .node-features-mobile .feature-list {
        background: #fff;
        border-radius: 1rem;
        border: 1px solid #ececec;
    }

    .node-features-mobile .feature-list li {
        width: 100%;
        display: inline-block;
        list-style: none;
        padding: 1rem;
        border-bottom: 1px solid #ececec;
    }

    .node-features-mobile .feature-list li:last-child {
        border-bottom: none;
    }

    .node-features-mobile .feature-list li img {
        display: block;
        margin: 0 auto;
        width: 60px;
        height: auto;
        margin-top: 1rem;
    }

    .node-features-mobile .feature-list li p {
        text-align: center;
        color: #0a0525;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.33;
        margin: 1rem 0;
    }

    .node-features-mobile .feature-list li.feature-img-1 img {
        width: 68px;
        height: 57px;
    }

    .node-features-mobile .feature-list li.feature-img-2 img {
        width: 54px;
        height: 64px;
    }

    .node-features-mobile .feature-list li.feature-img-3 img {
        width: 32px;
        height: 64px;
    }

    .node-features-mobile .feature-list li.feature-img-4 img {
        width: 52px;
        height: 61px;
    }

    .hide-on-mobile {
        display: none;
    }
}